<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome da loja</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
    <header class="row">
        <div>
            <a class="brand" href="index.html">Loja</a>
        </div>
        <div>
            <a href="cart.html">Carrinho</a>
            <a href="signin.html">Entrar</a>
        </div>
    </header>
    <main>
        <ul>
            <li>Produto 1</li>
            <li>Produto 2</li>
            <li>Produto 3</li>
            <li>Produto 4</li>
        </ul>
    </main>
    <footer class="row center">
        Todos direitos reservados
    </footer>
</div>
</body>
</html>